<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div class="d-flex justify-content-end">
            <a th:href="@{${post.pid} + '/modify'}"><button type="button" class="btn btn-primary m-2">Modify</button></a>
            <a th:href="@{'/posts'}"><button type="button" class="btn btn-primary m-2">List</button></a>
        </div>

        <div class="row">

            <div class="col-sm-6 col-sm-offset-3 m-1">

                <h1 th:text="${post.title}"> </h1>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-6 col-sm-offset-3 m-1">

                <a th:text="${post.content}"> </a>

            </div>

        </div>

    </th:block>

</th:block>

</html>