<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <link th:href="@{/vendor/abcjs/abcjs-audio.css}" media="all" rel="stylesheet" type="text/css" />
        <script th:src="@{/vendor/abcjs/abcjs-basic-min.js}"></script>

        <script th:inline="javascript">

        $(document).ready(function load() {
            var cursorControl = { }; // see section on CursorControl
            var abc = $('#abc').text();
            var abcOptions = { add_classes: true , responsive: "resize"};
            var audioParams = { chordsOff: true };

            if (ABCJS.synth.supportsAudio()) {
                var synthControl = new ABCJS.synth.SynthController();
                synthControl.load("#audio",
                    cursorControl,
                    {
                        displayLoop: false,
                        displayRestart: true,
                        displayPlay: true,
                        displayProgress: true,
                        displayWarp: false
                    }
                );

                var visualObj = ABCJS.renderAbc("paper", abc, abcOptions);
                var createSynth = new ABCJS.synth.CreateSynth();
                createSynth.init({ visualObj: visualObj[0] }).then(function () {
                    synthControl.setTune(visualObj[0], false, audioParams).then(function () {
                        console.log("Audio successfully loaded.")
                    }).catch(function (error) {
                        console.warn("Audio problem:", error);
                    });
                }).catch(function (error) {
                    console.warn("Audio problem:", error);
                });
            } else {
                document.querySelector("#audio").innerHTML =
                    "Audio is not supported in this browser.";
            }
        });
        </script>

        <a th:href="@{${score.sid} + '/modify'}"><button type="button" class="btn btn-primary">Modify</button></a>

        <div class="row">

            <div class="col">

                <textarea name="abc" id="abc" rows="20" style="width:100%;" spellcheck="false" th:text="${score.notation}"></textarea>

                <div id="audio"></div>

            </div>

            <div class="col">

                <div id="paper" class="paper" style="width:100%;"></div>

            </div>

        </div>







    </th:block>

</th:block>

</html>