<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Score Modify Page</h1>

        <form onsubmit="return false;">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" th:value="${score.title}">
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" name="content" id="content" th:text="${score.notation}"></textarea>
            </div>

            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="writer" id="writer" placeholder="Enter Writer" th:value="${score.writer}">
            </div>

            <button class="btn btn-primary" onclick="save()">Submit</button>

        </form>

        <script>
            function save() {
                var requestDTO = {
                    "title" : $('#title').val(),
                    "notation" : $('#content').val(),
                    "writer" : $('#writer').val()
                }

                console.log(requestDTO);

                $.ajax({
                    url : "/scores/" + [[${score.sid}]],
                    data : JSON.stringify(requestDTO),
                    type : "PUT",
                    dataType : 'json',
                    contentType : 'application/json',
                    success: function(result) {
                        location.href="/scores/" + result.sid;
                    },
                    error : function(result) {
                        alert("등록에 실패하였습니다.");
                    }
                });
            }
        </script>

    </th:block>

</th:block>

</html>