<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">
            <span>
                <a th:href="@{'scores/new'}">
                    <button type="button" class="btn btn-outline-primary">REGISTER</button>
                </a>
            </span>
        </h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Writer</th>
                <th scope="col">RegDate</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="dto : ${scores}">
                <th scope="row">
                    [[${dto.sid}]]
                </th>
                <td>
                    <a th:href="@{'scores/' + ${dto.sid}}" style="color: inherit;text-decoration: none">[[${dto.title}]]</a>
                </td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

    </th:block>

</th:block>

</html>