<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1>Scores</h1>

        <form action="scores" method="get" id="searchForm">
            <div class="input-group">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">
                    <select class="custom-select" name="type">
                        <option value="t" th:selected="${scorePageRequestDTO.type == 't' || scorePageRequestDTO == null}">제목</option>
                        <option value="w" th:selected="${scorePageRequestDTO.type == 'w'}">작곡가</option>
                    </select>
                </div>
                <input class="form-control" name="keyword" th:value="${scorePageRequestDTO.keyword}">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Writer</th>
                <th scope="col">RegDate</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="dto : ${result.scoresList}">
                <th scope="row">
                    [[${dto.sid}]]
                </th>
                <td>
                    <a th:href="@{'scores/' + ${dto.sid}}" style="color: inherit;text-decoration: none">[[${dto.title}]]</a>
                </td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{scores(page=${result.start - 1})}" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page ? 'active' : '' }" th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{scores(page=${page})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{scores(page=${result.end + 1})}">Next</a>
            </li>
        </ul>

        <div class="d-flex justify-content-end">
            <a th:href="@{scores/new}">
                <button type="button" class="btn btn-outline-primary">REGISTER</button>
            </a>
        </div>

        <script th:inline="javascript">

            var msg = [[${msg}]];

            console.log(msg);

            if(msg) {
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");

            $('.btn-search').click(function(e) {
                searchForm.submit();
            });

            $('.btn-clear').click(function(e) {
                searchForm.empty().submit();
            });

        </script>

    </th:block>

</th:block>

</html>